<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064585625477-ovftrq0qv4qsenl3m32u8bj5keth7lrv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064585625477-ovftrq0qv4qsenl3m32u8bj5keth7lrv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1064585625477-25ri2kvfa1d6r3kv9oihaschnapvojf2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ2wqCD4CC7diDHv6CXlm7YNpQ7l_BOik</string>
	<key>GCM_SENDER_ID</key>
	<string>1064585625477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hapaweb.yardsales</string>
	<key>PROJECT_ID</key>
	<string>yard-sales-1386b</string>
	<key>STORAGE_BUCKET</key>
	<string>yard-sales-1386b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064585625477:ios:bb4dc3b6f5f8fcc5518eec</string>
</dict>
</plist>